@font-face {
    font-family: 'LuckiestGuy';
    src: url('../fonts/LuckiestGuy/LuckiestGuy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LuckiestGuy/LuckiestGuy.woff2') format('woff2'),
        url('../fonts/LuckiestGuy/LuckiestGuy.woff') format('woff'),
        url('../fonts/LuckiestGuy/LuckiestGuy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}