HTML {
	
	margin: 0;
	padding: 0;	
}
BODY {

	margin: 0;
	padding: 0;
	height: 100%; width: 100%;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	background-color: #000;
	opacity: 0;
}



.guitxt {

	font: normal 2vw Papyrus;
	color: #ffd;
	text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
	z-index: 999;
	
	
}

.guibnt {
	font: normal 2vw Arial;
	padding: 3px 24px;
	color: #fff;
	border: 2px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: intrinsic;
	background: #222;
	margin-top: 3px;
	white-space: nowrap;
}

.guibnt:hover {
	background: #ccc;
	color: #000;

}

#guitimer {

	position: fixed;
	top: 1%;
	left: 24px;	

}

#guimoves {

	position: fixed;
	top: 6%;
	left: 24px;	

}

#guitiles {

	position: fixed;
	top: 12%;
	left: 24px;	

}

#guibuttons {
	position: fixed;
	bottom: 16px;
	left: 16px;
	z-index: 1000;
}



#guibanner {
	position: absolute;
	top: calc(50% - 13vh);
	width: 100%;
	padding: 4vh 0;
	z-index: 2000;
	color: #fff;
	text-align: center;
	animation: fadeIn 1.0s linear;
	display: none;
	background: rgba(0,0,0,0.8);
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	box-shadow: 0px 0px 32px #000;
	
	
}

#guitext {

	font: bold 10vh Papyrus;
	color: #fff;
	text-shadow: 0.5vh 0.5vh 0px #000;
	text-align: center;


}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
